BasedOnStyle: Google
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
Language: Cpp
PointerAlignment: Right
NamespaceIndentation: All
AlignAfterOpenBracket: Align  # don’t realign params under the opening ‘(’
